*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f5f9fa;
}

.datePicker {
  width: 100%;
}

.clicked {
  background-color: red !important;
}

.react-time-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border-color: transparent;
  background-color: #eda6aa;
  border-radius: 10px;
  color: #fafafa;
}
